# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Data
data/

# PyCharm project settings
.idea/

# System files
.DS_Store
Thumbs.db

# Ignore all images
*.png
*.jpg

# Ignore all saved models
*.pth